/* ####################################################
NOTE
I am coding styles using SASS (.scss) which is then compiled using Compass into this .css

This is (.scss) file for variables and mixins of Accuserv website

Created by Sam Silvey
###################################################
*/
@import "_variables-mixins";

html, body {
	height: 100%;
	font-size: 10px;
	@media (max-width: 767px) {
		font-size: 7.7px;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		font-size: 8.5px;
	}	
}
a {
	color: inherit;
	&:hover {
		outline: none;
		color: inherit;
		text-decoration: none;
	}
	&:focus {
		outline: none;
		text-decoration: none;
		color: inherit;
	}
}	
p {
	font-family: 'Gotham A', 'Gotham B'; font-weight: 400; font-style: normal;
	margin: 0 0 18px 0;
	font-size: 1.5em;
	line-height: 1.43;
	@media (max-width: 767px) {
		margin: 0 0 10px 0;
		font-size: 15px;
	}	
}
p:last-child {
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}
h1 {
	font-family: 'Gotham A', 'Gotham B'; font-weight: 700; font-style: normal;
	font-size: 3.91em;
	text-transform: uppercase;
	margin-bottom: 20px;
    @media (max-width: 767px) {
    	font-size: 22px;
    	line-height: 1.3;
	}		
}
h2 {
	font-family: 'Sentinel A', 'Sentinel B'; font-weight: 500; font-style: normal;
	font-size: 2.65em;
	margin-bottom: 15px;
    @media (max-width: 767px) {
    	font-size: 24px;
	}		
}
h3 {
	font-family: 'Gotham A', 'Gotham B'; font-weight: 800; font-style: normal;
	font-size: 1.6em;
	text-transform: uppercase;
	margin-bottom: 8px;
    @media (max-width: 767px) {
    	font-size: 12px !important;
	}		
}
h4 {
	font-family: 'Sentinel A', 'Sentinel B'; font-weight: 400; font-style: normal;
	font-size: 2.8em;
	margin-bottom: 15px;
    @media (max-width: 1200px) {
	}		
}
h5 {
	font-family: 'Sentinel A', 'Sentinel B'; font-weight: 400; font-style: italic;
	font-size: 2.8em;
	margin-bottom: 15px;
    @media (max-width: 767px) {
    	font-size: 22px;
	}		
}
h6 {
	font-size: 1em;
    @media (max-width: 1200px) {

	}		
}
.text-justify {
	text-align: justify;
}
ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	height: auto;
}
a img {
	border: 0 none;
}

i {
	display: inline-block;
	color: #fff;
	zoom: 1;
	font-style: normal;
	font-size: 1.6em;
	text-align: left;
	text-transform: uppercase;
}

section {
	position: relative;
	@include full-inline-block;
}

.full-img {
	width: 100%;
}
.uppercase {
	text-transform: uppercase;
}


.full-text-center {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.inner_container {
	@include inner_container();
}

.mobile-txt-center {
	@media (max-width: 767px) {
		text-align: center
	}
}

.left_right_btn {
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: #4a4a4a;
	display: inline-block;
	padding: 12px 25px;
	cursor: pointer;
	color: #4a4a4a;
	font-family: 'Gotham A', 'Gotham B'; font-weight: 800; font-style: normal;
	letter-spacing: 0.23em;
	text-transform: uppercase;
	@include transition(0.38s);
	font-size: 15px;

	position: relative;
	outline: 0;
	*overflow:hidden;
	background: none;
	z-index: 1;
}
.left_right_btn:hover {
  color: #fff;
}

.left_right_btn:before {
  content: "";
  position: absolute;
  background: #4a4a4a;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  @include transition(0.38s);
}

.left_right_btn:hover:before {
  right: 0;
}


.bg_btn {
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: #4a4a4a;
	display: inline-block;
	padding: 12px 25px;
	cursor: pointer;
	color: #4a4a4a;
	font-family: 'Gotham A', 'Gotham B'; font-weight: 800; font-style: normal;
	letter-spacing: 0.23em;
	text-transform: uppercase;
	@include transition(0.6s);
	font-size: 15px;

	position: relative;
	outline: 0;
	background-color: #fff;
	z-index: 1;
	&:hover {
		background-color: #4a4a4a;
		color: #fff;
	}
}

.title_bar {
	width: 140px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	@media (max-width: 767px) {
		width: 70px;
	}
}

.post_title_bar {
	width: 100px;
	height: 1px;
	background-color: #a1a1a1;
	display: inline-block;
	@media (max-width: 767px) {
		width: 70px;
	}
}

.color_orange {
	color: $color_orange;
}

.highlight_pink {
	@include highlight($color_purple, 0.6);
}
.highlight_green {
	@include highlight(#98d2dd, 0.6);
}

::selection {
	color: white;
	background: $color_orange;
}
::-webkit-selection {
	color: white;
	background: $color_orange;
}
::-moz-selection {
	color: white;
	background: $color_orange;
}
::-ms-selection {
	color: white;
	background: $color_orange;
}
::-o-selection {
	color: white;
	background: $color_orange;
}



/**   Menu Socials   **/
.menu_twitter_on, .menu_fb_on, .menu_linkedin_on, .menu_instagram_on {
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 30px;
	display: block;
	-webkit-transition: opacity 500ms ease-in !important;
	   -moz-transition: opacity 500ms ease-in !important;
		-ms-transition: opacity 500ms ease-in !important; 
	     -o-transition: opacity 500ms ease-in !important;
			transition: opacity 500ms ease-in !important;
}
.menu_twitter_on {
	background-image: url(../images/svgs/white/icons_30px_white_twitter.svg);
	&:hover {
		background-image: url(../images/svgs/orange/icons_30px_orange_twitter.svg);
	}
}

.menu_fb_on {
	background-image: url(../images/svgs/white/icons_30px_white_facebook.svg);
	&:hover {
		background-image: url(../images/svgs/orange/icons_30px_orange_facebook.svg);
	}

}

.menu_linkedin_on {
	background-image: url(../images/svgs/white/icons_30px_white_linkedin.svg);
	&:hover {
		background-image: url(../images/svgs/orange/icons_30px_orange_linkedin.svg);
	}
}

.menu_instagram_on {
	background-image: url(../images/svgs/white/icons_30px_white_instagram.svg);
	margin-left: 6px;
	&:hover {
		background-image: url(../images/svgs/orange/icons_30px_orange_instagram.svg);
	}
}
.footer_socials {
	.social_list li {
		margin-left: 4px;
		margin-right: 4px;
	}
	.menu_twitter_on, .menu_fb_on, .menu_linkedin_on, .menu_instagram_on {
		opacity: 0.6;
		width: 25px;
		-webkit-transition: opacity 0.5s;
		   -moz-transition: opacity 0.5s;
			 -o-transition: opacity 0.5s;
				transition: opacity 0.5s;
		&:hover {
			opacity: 1;
		}
	}
}

// *   Footer Socials   *
// .instagram_off, .facebook_off, .linkedin_off, .twitter_off, .pinterest_off, 
// .instagram_on, .facebook_on, .linkedin_on, .twitter_on, .pinterest_on {
// 	background: url(../images/footer_socials.png) no-repeat;
// 	// display: block;
// 	position: relative;
// 	display: inline-block;

// 	span {
// 		position: absolute;
// 		top: 0; left: 0; bottom: 0; right: 0;
// 		background: url(../images/footer_socials.png) no-repeat;
// 		opacity: 0;
// 		-webkit-transition: opacity 0.5s;
// 		   -moz-transition: opacity 0.5s;
// 		     -o-transition: opacity 0.5s;
// 	}
// 	&:hover span {
// 		opacity: 1;
// 	}
// }
// .instagram_on {
// 	background-position: -34px -34px;
// 	width: 28px;
// 	height: 28px;
// 	&:hover span {
// 		background-position: -31px -84px;
// 	}
// }

// .facebook_on {
// 	background-position: -142px -37px;
// 	width: 14px;
// 	height: 28px;
// 	&:hover span {
// 		background-position: -142px -86px;
// 	}
// }

// .linkedin_on {
// 	background-position: -184px -35px;
// 	width: 28px;
// 	height: 28px;
// 	&:hover span {
// 		background-position: -187px -89px;
// 	}
// }

// .twitter_on {
// 	background-position: -88px -36px;
// 	width: 30px;
// 	height: 26px;
// 	&:hover span {
// 		background-position: -90px -86px;
// 	}
// }

// .pinterest_on {
// 	background-position: -244px -34px;
// 	width: 22px;
// 	height: 28px;
// 	&:hover span {
// 		background-position: -244px -89px;
// 	}
// }


/**   Footer Socials  End **/


.icon-right {
	background: url(../images/svgs/white/icons_30px_white_arrow_right.svg) no-repeat scroll center center;
	background-size: 30px 30px;
}
.icon-left {
	background: url(../images/svgs/white/icons_30px_white_arrow_left.svg) no-repeat scroll center center;
	background-size: 30px 30px;
}
.icon-down {
	background-image: url(../images/svgs/orange/icons_30px_orange_arrow_down.svg);
	background-size: 30px 30px;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}

